.heading{
    width: 100%;
    height: 50px;
    background-color: #F0AD4E;
    position: fixed;
    top: 0;
    let: 0;
    right: 0;
    display: flex;
}
.heading h3 {
    color: #fff;
    padding: 0px;
    margin: auto auto auto 20px;
}
.form-register {
    padding: 5px;
    margin: auto 20px auto auto;
}

.form-horizontal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    width: 420px;
    max-width: 420px;
    padding: 30px 38px 66px;
}

.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}
.row {
    display: flex;
    justify-content: center;
}
.header {
    text-align: center;
}